html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: 'Oswald', sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.hooks-main > img {
  position: absolute;
  /* will-change: transform; */
  width: 500px;
  height: 500px;
  object-fit: contain;
  
}

.hooks-main {
  position: absolute;
  width: 100%;
  /* height: 50vh; */
  /* left: 0; */
  height: 100%;
  /* filter: url('#goo'); */
  /* background: red; */
  overflow: hidden;
}